/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xxl-min: 1440px;

// Colors vars
:root {
  --black: #000000;
  --black2: #1E1E1E;
  
  --white: #ffffff;

  --Black1: #222222;
  --grey: #E6E6E6;

  --blueDark: #010B40;
  --blueDark2: #1C2D37;

  --yellowLight: #FFEFB7;
  --mustard: #4E4C32;

  --teal: #1F818C;
  --tealLight: #55939A;
  --tealDark: #00616B;

  --blueLight: #DCFBFF;


  --greenDark: #09272A;
  --greyLight: #696F71;
  --greyMedium: #6B6868;
  


  --purpleDark: #5C3063;
  --purpleNeon: #A93ABA;

  --pink: #D580E2;
  --pinkLight: #FBDFFF;



}
