/* =============
    Base
============= */


ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.top-content-spacing{
    padding-top: 16px;

    @include xl{
        padding-top: 0px;
    }
}

.nav-top-content-spacing{
    padding-top: 24px;
}


// global
.resize-footer{
    width:46px
}

.resize-logo{
    width: 110px;

    @include xl 
}

.resize-header{
    width: 24px;

    @include md {
        width: 38px
    }

    @include xl {
        width: 40px
    }
}


// hero
.resize-hero{
    width: 360px;

    @include md {
        width: 550px
    }

    @include xl {
        width: 780px
    }
} 

// new

// demo

.resize-demo{
    width: 358px;

    @include md {
        width: 550px
    }

    @include xl {
        width: 750px
    }
    
}

// feature

.resize-feature{
    width: 90px;
    @include xl {
        width: 103px
    }
}
// discover
.resize-people{
    width: 144px
}

.resize-discover{
    width:350px
}

// find
.resize-find{
    width:322px
}

//_nav1
.resize-nav{
    width: 200px;
    padding-top: 24px;
    @include xl {
        width: 597px
    }
    }

    //_thankyou
        //products
        .resize-back-icn{
            width: 35px;
        }
        .resize-thankyou-icn {
            width: 32.75px;
            height: 29.11;
        }

        .resize-product {
            width:116px;
            height: 115px;
            border-radius: 5px;
            box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
        }