/* =============
    hero
============= */

#hero{
    background-image: url("../img/1hero/hero.jpeg");
    background-size: cover;
    background-position: center;
    height: 45vh;

    @include lg{
        height: 75vh;    
    }

    @include xl{
        height: 110vh;    
    }

    @include xxl{
        height: 140vh;    
    }
}