#_1nav3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #_1nav3 div .fa-regular.fa-arrow-left {
    color: black;
    background-color: var(--yellowLight);
    padding: 16px;
    margin-right: 25px;
    border-radius: 50px;
    font-size: 25px;
  }

  #_1nav3 aside .fa-solid.fa-cart-shopping {
    margin-left: 30px;
    font-size:35px;
  }