
/* =============
   2new
============= */

#_2new {

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". _1hero .";

    background-image: url("../img/2new/gradient2.jpeg");
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    margin-bottom: 24px;
    height: 40vh;

        @include lg {
            background-image: url("../img/2new/gradient1.jpeg");
            margin-top: auto;
            margin-bottom: auto;

        }

    // background-size: cover;
    // background-position: center;
    // margin-top: auto;
    // margin-bottom: auto;
    // height: 40vh;
    
    >div{
        grid-area: _2new;

        #_2new-top {
            h1 {
                font-family: 'Inter', sans-serif;
                color: var(--pink);
                font-size: rem-calc(16);
                text-align: center;
                font-weight: 600;

                @include md {
                    font-size: rem-calc(18);
                }

                @include xl {
                    font-size: rem-calc(20);
                }
            }

            h2 {
                font-family: 'Inter', sans-serif;
                color: var(--greenDark);
                font-size: rem-calc(44);
                text-align: center;

                @include md {
                    font-size: rem-calc(50);
                }

                @include xl {
                    font-size: rem-calc(57);
                }
            }

            h3 {
                font-family: 'Inter', sans-serif;
                color: var(--greyLight);
                font-size: rem-calc(20);
                text-align: center;

                @include md {
                    font-size: rem-calc(21);
                }

                @include xl {
                    font-size: rem-calc(23);
                }
            }

            h4 {
                font-family: 'Inter', sans-serif;
                color: var(--black);
                font-size: rem-calc(16);
                text-align: center;

                @include md {
                    font-size: rem-calc(21);
                }

                @include xl {
                    font-size: rem-calc(19.2);
                }
            }
        }

            #_2new-bottom {
                button{
                    background-color: var(--teal);
                    color: var(--white);
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    }
                nav{
                    color: var(--teal)
                }
            }
       }
    }
