#_3card{
    margin: 0px 16px;
    padding-top: 20px;
   
    #_3card-info{
        h1{
                    font-family: 'Open Sans', sans-serif;
                    color: #09272A;
                    font-size: rem-calc(12);
                    font-weight: 700;
                    padding: 4px;
        }       

        form{
            display: grid;
            grid-template-columns: repeat(10,1fr);
            grid-template-areas: 
            "p4 p4 p4 p4 p4 p4 p4 p4 p4 p4"
            "p5 p5 p5 p5 p5 p6 p6 p6 p6 p6";
            gap: 10px;

            #p4 {
                grid-area: p4;
            }
            #p5 {
                grid-area: p5;
            }
            #p6 {
                grid-area: p6;
            }
        }
    }
}
