#_5summary {
    display: grid;
    grid-template-columns: 44px auto 44px;
    grid-template-areas: ". _5summary .";
    padding: 5px;

    h1 {
        font-family: 'Open Sans', sans-serif;
        color: var(--greyMedium);
        font-size: rem-calc(16);
        font-weight: 700;
    }

    >div {
        grid-area: _5summary;

        #order {

            ul {
                li {
                    display: flex;

                    aside {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        
                        h2 {
                            font-family: 'Open Sans', sans-serif;
                            color: var(--greyLightLight);
                            font-size: rem-calc(20);
                            font-weight: 550;
                            margin-bottom: 5px;
                        }

                        h3 {
                            font-family: 'Open Sans', sans-serif;
                            color: var(--greyLightLight);
                            font-size: rem-calc(16);
                            font-weight: 100;
                            margin-bottom: 5px;
                        }
                    }


                    section {
                        margin-left: auto;
                        text-align: right;
                        margin-top: 18px;
                        margin-bottom: 40px;

                        .right-side {
                            
                            h4 {
                                font-family: 'Open Sans', sans-serif;
                                color: var(--greyMedium);
                                font-size: rem-calc(14);
                                font-weight: 600;
                                margin-bottom: 5px;
                            }

                            p {
                                font-family: 'Open Sans', sans-serif;
                                color: var(--greyMedium);
                                font-size: rem-calc(14);
                                font-weight: 200;
                                margin-bottom: 5px;
                            }
                        }

                    }
                }
            }
        }
    }
}