/* =============
    Footer
============= */

#footer{

    h1{
        font-family: 'Open Sans', sans-serif;
        color: var(--blueLight);
        font-size: rem-calc(28);
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 8px;
    }

    #f1{
        ul{
            li{

            }
        }
    }
}